
body{
    /* background-image: linear-gradient(1000deg, #bbecba, #98cde7); */
    background-color: #94d2f1 !important;
    font-family:poppins !important;
}

/* navbar styles here */
.about {
    color: lightgreen;
    font-family: Poppins;
    text-shadow: 2px 2px black;
    font-size: 17px;
    text-decoration: none;
}

.active {
    color: white;
}

.about:hover {
    color: white;
}


/* SECTION ONE START */
.first_sec{
    background-color: rgba(255, 254, 254,0.6);
    border-radius: 35px;
}

.header_body{
    padding: 20px;
    
}
.heading1{
    font-size: 40px;
    margin-bottom: 1px;
    color: #3f8321;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
    -webkit-animation: heading1 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: heading1 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes heading1 {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes heading1 {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

/* SUBTITLE OF HELP HEADINGS */
.subtitle1{
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 35px;
}

/* BUTTON FOR SUGGESTION FORM START*/
.help_btn{
    color: white;
    font-size:18px;
    background-color: #5D9943;
    border-radius: 30px;
    border-width: 0;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.20s, padding 0.40s, margin 0.40s;
}
.help_btn:hover{
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 0px;
    margin-right: 0px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.help_btn:active{
    opacity: 0.8;
}

/* BUTTON FOR SUGGESTION FORM END*/

/* MODAL START */
/* SUGGESTION FORM INPUTS */

/* BUTTON ON MODAL START */




.modal_btn{
    color:white;
    background-color: #5D9943;
    border-radius: 30px;
    border-width: 0px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 40px;
    padding-right: 40px;
    transition: background-color 0.30s ,padding 0.40s, margin 0.40s;
}
.modal_btn:hover{
    background-color: #3f8321;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 11px ;
    padding-bottom: 11px ;
    margin-left: 0px;
    margin-right: 0px;
}
.modal-btn:active{
    opacity: 0.8;
    color: #1b94d1;
}
/* BUTTON ON MODAL END */

.modal-header{
    background-color: #e8f8e1;
    border: none !important;
}
.modal-body{
    background-color: #e8f8e1;
}
.modal-footer{
    background-color: #e8f8e1 !important;
   

}
/* MODAL END */
/* SECTION ONE END */


/*SECTION TWO START */
.two{
    background-color: rgba(255, 254, 254,0.6);
    border-radius: 35px;
    padding-top:20px;
    padding-right:30px;
    padding-left:30px;
    padding-bottom:60px;
}

.faq_heading{
    font-size: 40px;
    padding-bottom: 10px;
    color: #3f8321;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}

.name_faq_link{
    color: #34aeeb;
    font-weight: bold;
}

.accordion-button{
    background-color: rgba(97, 197, 243, 0.8) !important;
    color: rgb(56, 55, 55) !important;
}
.accordion-button:active{
    border: none;
}
.accordion-body{
    background-color: #ffffff !important;
}

.acc3_body{
    font-size: 12px;
}
/*SECTION TWO END */

/*SECTION THREE START */
.touch{
    font-size: 40px;
    margin-bottom: 1px;
    color: #3f8321;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
}
.three{
    background-color: rgba(255, 254, 254,0.6);
    border-radius: 35px;
    padding-top:20px;
    padding-right:30px;
    padding-left:30px;
    padding-bottom:60px;
}
.address{
    background-color: rgba(147, 247, 169, 0.6);
    border-radius: 35px;
}
.phone{
    background-color: rgba(147, 247, 169, 0.6);
    border-radius: 35px;
}
.email{
    background-color: rgba(147, 247, 169, 0.6);
    border-radius: 35px;
}
/*SECTION THREE END */

/* FOOTER START */

.four {
    background-image: linear-gradient(1000deg, #d1ebb0, #dbf5d2);
    background-image: linear-gradient(1000deg, #bbecba, #98cde7);
}

.myfooter{
    background-color: rgba(255, 254, 254,0.6);
}

.input1{
outline:none;
-webkit-box-shadow: none !important;
box-shadow: none !important;
height: 50px;
}

.input2{
    outline:none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    height: 50px;
}
.input1:focus{
    -webkit-box-shadow: 0 3px 10px -2px rgba(0 0 0 0.2) !important ;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}
.input2:focus{
    -webkit-box-shadow: 0 3px 10px -2px rgba(0 0 0 0.2) !important ;
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2) !important;
}

.subscribe_btn{
    background-color: #34aeeb !important;
    height: 50px;
}

.subscribe_btn:hover{
    background-color: #1b94d1 !important;
}

.linesafooter{
    border-style:solid;
    border-width: 1px;
    border-color: #c6c7c3;
}

.click_footer:hover{
    color: #34aeeb !important;
}
.footer_links:hover{
    font-size: 19px;
    color: #34aeeb !important;
}
.privacy_footer:hover{
    color: #34aeeb !important;
}

/* FOOTER END */


    

